<div class="container">
  <button class="btn btn-primary" (click)="createProduct()">
    Agregar Producto
  </button>

  <br /><br />

  <p *ngIf="Product.length <= 0" class="no-data text-center">
    No existen productos en el inventario!
  </p>

  <!-- Lista de productos -->
  <table class="table table-bordered" *ngIf="Product.length > 0">
    <thead class="table-success">
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Tipo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Vr Unitario</th>
        <th scope="col">Stock</th>
        <th scope="col">Imagen</th>
        <th scope="col center" style="text-align: center" colspan="2">
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of Product; let i = index">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.tipo }}</td>
        <td>{{ product.nombre }}</td>
        <td>{{ product.descripcion }}</td>
        <td>{{ product.valor_unitario }}</td>
        <td>{{ product.cantidad_stock }}</td>
        <td align="center">
          <img
            [src]="product.imagen"
            alt="Imagen del Producto"
            width="50"
            height="50"
          />
        </td>
        <td align="center">
          <button type="button" class="btn btn-success btn-sm" (click)="editProduct(product)">Editar</button>
        </td>
        <td align="center">
          <button
            type="button"
            class="btn btn-danger btn-sm"
            (click)="removeProduct(product, i)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
