<nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container">
      <!-- Logo -->
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Logo" height="30">
      </a>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <!-- Opciones de ingreso y registro -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Registrarse</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Contenido -->
  <div class="container">
  </div>
  